* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: rgb(21, 48, 106);
  --bg-footer: rgb(31, 31, 83);
  --bg-color-secondary: rgb(15, 33, 72);
  
  --border-color: rgb(156, 155, 166);
  --text-color: rgb(234, 234, 234);

  --font-family: "Poppins", sans-serif;
  --text-lg: bold 30px var(--font-family);
  --text-md: 18px var(--font-family);
  --text-sm: 12px var(--font-family);
}

.container {
  padding-inline: 32px;
  max-width: 1280px;
  margin-inline: auto;
}

body {
  font: var(--text-lg);
  color: var(--text-color);
  background-color: var(--bg-color); 
}